<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who is Jose Vega?</h2>
                <hr class="light">
                <p class="text-faded">A Full Stack Developer from Honduras. I believe in delivering more than just a product, I believe in creating experiences. </p>
                <p class="text-faded">A problem solver and strategist at your service. </p>
                <a href="#services"" class="btn btn-default btn-xl page-scroll">Get Started</a>
            </div>
        </div> 
    </div>
</section>

