<header id= "page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>JOSE VEGA</h1>
            <hr>
            <p>A showcase of the few proyects I have created</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">About Me</a>
        </div>
    </div>
</header>

