<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <% @posts.each do |post| %>
            <div class="col-lg-4 col-sm-6">
                <a href="#">
                <%= link_to creatives_path(post), :class => "portfolio-box" do %>
                    <%= image_tag post.image, class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                </div>
                                <div class="project-name">
                                <%= post.title %>
                            </div>
                        </div>
                    </div>  
                <%end%>    
                </a> 
            </div>
            <%end%>

        </div>
    </div>
</section>
